In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('dataset/players.csv')

In [46]:
df

           Player  Total Runs
0         V Kohli        8014
1        S Dhawan        6769
2       RG Sharma        6630
3       DA Warner        6567
4        SK Raina        5536
..            ...         ...
727  S Lamichhane           0
728      JL Denly           0
729     RA Shaikh           0
730   C Ganapathy           0
731       RR Bose           0

[732 rows x 2 columns]

In [47]:
teams = [ 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals','Chennai Super Kings',
       'Sunrisers Hyderabad', 
       'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru']

In [48]:
teams = pd.DataFrame(teams)

In [49]:
teams.sort_values(by=0)

                             0
3          Chennai Super Kings
5               Delhi Capitals
8               Gujarat Titans
1        Kolkata Knight Riders
7         Lucknow Super Giants
0               Mumbai Indians
6                 Punjab Kings
2             Rajasthan Royals
9  Royal Challengers Bengaluru
4          Sunrisers Hyderabad

In [50]:
teams.columns = ['unique_team_names']

In [51]:
teams.to_csv('dataset/teams.csv', index=False)

In [65]:
data = pd.read_csv('dataset/deliveries.csv')

In [66]:
data

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [11]:
data.describe(include='all')

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
count,260920.000000,2.609200e+05,260920.000000,260920,260920,260920.000000,260920.000000,260920,260920,260920,260920.000000,260920.000000,260920.000000,14125,260920.000000,12950,12950,9354
unique,NaN,NaN,NaN,17,17,NaN,NaN,673,530,663,NaN,NaN,NaN,5,NaN,629,10,607
top,NaN,NaN,NaN,Mumbai Indians,Mumbai Indians,NaN,NaN,V Kohli,R Ashwin,V Kohli,NaN,NaN,NaN,wides,NaN,RG Sharma,caught,MS Dhoni
freq,NaN,NaN,NaN,31437,31505,NaN,NaN,6236,4679,6067,NaN,NaN,NaN,8380,NaN,223,8063,220
mean,130459.500000,9.070665e+05,1.483531,NaN,NaN,9.197677,3.624486,NaN,NaN,NaN,1.265001,0.067806,1.332807,NaN,0.049632,NaN,NaN,NaN
std,75321.260456,3.679913e+05,0.502643,NaN,NaN,5.683484,1.814920,NaN,NaN,NaN,1.639298,0.343265,1.626416,NaN,0.217184,NaN,NaN,NaN
min,0.000000,3.359820e+05,1.000000,NaN,NaN,0.000000,1.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
25%,65229.750000,5.483340e+05,1.000000,NaN,NaN,4.000000,2.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN
50%,130459.500000,9.809670e+05,1.000000,NaN,NaN,9.000000,4.000000,NaN,NaN,NaN,1.000000,0.000000,1.000000,NaN,0.000000,NaN,NaN,NaN
75%,195689.250000,1.254066e+06,2.000000,NaN,NaN,14.000000,5.000000,NaN,NaN,NaN,1.000000,0.000000,1.000000,NaN,0.000000,NaN,NaN,NaN
max,260919.000000,1.426312e+06,6.000000,NaN,NaN,19.000000,11.000000,NaN,NaN,NaN,6.000000,7.000000,7.000000,NaN,1.000000,NaN,NaN,NaN

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        260920 non-null  int64
 1   match_id          260920 non-null  int64
 2   inning            260920 non-null  int64
 3   batting_team      260920 non-null  object
 4   bowling_team      260920 non-null  object
 5   over              260920 non-null  int64
 6   ball              260920 non-null  int64
 7   batter            260920 non-null  object
 8   bowler            260920 non-null  object
 9   non_striker       260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extra_runs        260920 non-null  int64
 12  total_runs        260920 non-null  int64
 13  extras_type       14125 non-null   object
 14  is_wicket         260920 non-null  int64
 15  player_dismissed  12950 non-null   object
 16  dismissal_kind    12950 non-null   object
 17  fielder           9354 non-null    object
dtypes: int64(9), object(9)
memory usage: 35.8+ MB

In [13]:
data.head(25)

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
5,5,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,6,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
6,6,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,7,BB McCullum,P Kumar,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
7,7,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
8,8,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,2,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
9,9,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,3,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
10,10,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,4,BB McCullum,Z Khan,SC Ganguly,6,0,6,NaN,0,NaN,NaN,NaN
11,11,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,5,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
12,12,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,1,6,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
13,13,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,1,SC Ganguly,P Kumar,BB McCullum,0,0,0,NaN,0,NaN,NaN,NaN
14,14,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,2,SC Ganguly,P Kumar,BB McCullum,0,0,0,NaN,0,NaN,NaN,NaN
15,15,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,3,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
16,16,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,4,BB McCullum,P Kumar,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
17,17,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,5,BB McCullum,P Kumar,SC Ganguly,1,0,1,NaN,0,NaN,NaN,NaN
18,18,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,2,6,SC Ganguly,P Kumar,BB McCullum,0,0,0,NaN,0,NaN,NaN,NaN
19,19,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,1,BB McCullum,AA Noffke,SC Ganguly,0,5,5,wides,0,NaN,NaN,NaN
20,20,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,2,BB McCullum,AA Noffke,SC Ganguly,6,0,6,NaN,0,NaN,NaN,NaN
21,21,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,3,BB McCullum,AA Noffke,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
22,22,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,4,SC Ganguly,AA Noffke,BB McCullum,4,0,4,NaN,0,NaN,NaN,NaN
23,23,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,5,SC Ganguly,AA Noffke,BB McCullum,0,0,0,NaN,0,NaN,NaN,NaN
24,24,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,3,6,SC Ganguly,AA Noffke,BB McCullum,1,0,1,NaN,0,NaN,NaN,NaN

In [14]:
import pandas as pd

# Function to calculate batter statistics
def calculate_batter_statistics(df, batter, opponent_team):
    # Filter data for the specific batter and opponent team
    filtered_df = df[(df['batter'] == batter) & (df['bowling_team'] == opponent_team)]
    
    # Calculate total runs scored
    total_runs = filtered_df['total_runs'].sum()
    
    # Calculate runs scored through boundaries (4s and 6s)
    boundary_runs = filtered_df[filtered_df['batsman_runs'].isin([4, 6])]['batsman_runs'].sum()
    
    # Calculate total number of balls faced
    balls_faced = filtered_df.shape[0]
    
    # Calculate boundary percentage
    boundary_percentage = (boundary_runs / total_runs) * 100 if total_runs > 0 else 0
    
    # Calculate number of centuries
    centuries = (filtered_df.groupby(['match_id', 'inning'])
                      .apply(lambda x: (x['total_runs'].sum() >= 100).sum())
                      .sum())
    
    # Calculate number of half-centuries
    half_centuries = (filtered_df.groupby(['match_id', 'inning'])
                         .apply(lambda x: (50 <= x['total_runs'].sum() < 100).sum())
                         .sum())
    
    # Calculate number of matches played
    matches_played = filtered_df['match_id'].nunique()
    
    # Calculate number of fours and sixes
    fours = filtered_df[filtered_df['batsman_runs'] == 4].shape[0]
    sixes = filtered_df[filtered_df['batsman_runs'] == 6].shape[0]
    
    return {
        'Total Runs Scored': total_runs,
        'Boundary Percentage': boundary_percentage,
        'Centuries': centuries,
        'Half-Centuries': half_centuries,
        'Matches Played': matches_played,
        'Balls Faced': balls_faced,
        'Fours': fours,
        'Sixes': sixes
    }

# Example usage
statistics = calculate_batter_statistics(data, 'Virat Kohli', 'Kolkata Knight Riders')
print(statistics)

{'Total Runs Scored': 0, 'Boundary Percentage': 0, 'Centuries': Unnamed: 0          0
match_id            0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batter              0
bowler              0
non_striker         0
batsman_runs        0
extra_runs          0
total_runs          0
extras_type         0
is_wicket           0
player_dismissed    0
dismissal_kind      0
fielder             0
dtype: object, 'Half-Centuries': Unnamed: 0          0
match_id            0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batter              0
bowler              0
non_striker         0
batsman_runs        0
extra_runs          0
total_runs          0
extras_type         0
is_wicket           0
player_dismissed    0
dismissal_kind      0
fielder             0
dtype: object, 'Matches Played': 0, 'Balls Faced': 0, 'Fours': 0, 'Sixes': 0}

In [15]:
data

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        260920 non-null  int64
 1   match_id          260920 non-null  int64
 2   inning            260920 non-null  int64
 3   batting_team      260920 non-null  object
 4   bowling_team      260920 non-null  object
 5   over              260920 non-null  int64
 6   ball              260920 non-null  int64
 7   batter            260920 non-null  object
 8   bowler            260920 non-null  object
 9   non_striker       260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extra_runs        260920 non-null  int64
 12  total_runs        260920 non-null  int64
 13  extras_type       14125 non-null   object
 14  is_wicket         260920 non-null  int64
 15  player_dismissed  12950 non-null   object
 16  dismissal_kind    12950 non-null   object
 17  fielder           9354 non-null    object
dtypes: int64(9), object(9)
memory usage: 35.8+ MB

In [17]:
def calculate_batter_statistics(df, batter, opponent_team):
    # Filter the DataFrame for the specific batter and opponent team
    filtered_df = df[(df['batter'] == batter) & (df['bowling_team'] == opponent_team)]

    # Calculate total runs scored
    total_runs = filtered_df['batsman_runs'].sum()
    
    # Calculate runs scored through boundaries (4s and 6s)
    boundary_runs = filtered_df[filtered_df['batsman_runs'].isin([4, 6])]['batsman_runs'].sum()
    
    # Calculate total number of balls faced
    balls_faced = filtered_df.shape[0]
    
    # Calculate boundary percentage
    boundary_percentage = (boundary_runs / total_runs * 100) if total_runs > 0 else 0
    
    # Calculate number of centuries
    centuries = (filtered_df.groupby(['match_id', 'inning'])
                  .apply(lambda x: (x['total_runs'].sum() >= 100).sum())
                  .sum())
    
    # Calculate number of half-centuries
    half_centuries = (filtered_df.groupby(['match_id', 'inning'])
                       .apply(lambda x: (50 <= x['total_runs'].sum() < 100).sum())
                       .sum())
    
    # Calculate number of matches played
    matches_played = filtered_df['match_id'].nunique()
    
    return {
        'Total Runs Scored': total_runs,
        'Boundary Percentage': boundary_percentage,
        'Centuries': centuries,
        'Half-Centuries': half_centuries,
        'Matches Played': matches_played,
        'Balls Faced': balls_faced
    }

In [204]:
# team_replacements = {
#     'Royal Challengers Bangalore': 'Royal Challengers Bengaluru',
#     'Kings XI Punjab': 'Punjab Kings'
# }

# data['batting_team'] = data['batting_team'].replace(team_replacements)
# data['bowling_team'] = data['bowling_team'].replace(team_replacements)

In [209]:
# data.to_csv('dataset/deliveries.csv')

In [19]:
data

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [20]:
# Example usage
player_stats = calculate_batter_statistics(data, 'V Kohli', 'Kolkata Knight Riders')
print(player_stats)

{'Total Runs Scored': 962, 'Boundary Percentage': 52.390852390852395, 'Centuries': 1, 'Half-Centuries': 6, 'Matches Played': 31, 'Balls Faced': 736}

In [215]:
# import pandas as pd
# import json

# # Sample DataFrame
# # data = pd.read_csv('your_data.csv')  # Load your DataFrame

# def create_player_team_mapping(df):
#     # Create an empty dictionary to store player-team mappings
#     player_team_dict = {}

#     # Extract batters and their teams
#     batters = df['batter'].unique()
#     for batter in batters:
#         teams = df[df['batter'] == batter]['batting_team'].unique().tolist()
#         if batter in player_team_dict:
#             player_team_dict[batter].extend(teams)
#         else:
#             player_team_dict[batter] = teams
    
#     # Extract bowlers and their teams
#     bowlers = df['bowler'].unique()
#     for bowler in bowlers:
#         teams = df[df['bowler'] == bowler]['bowling_team'].unique().tolist()
#         if bowler in player_team_dict:
#             player_team_dict[bowler].extend(teams)
#         else:
#             player_team_dict[bowler] = teams

#     # Remove duplicate team entries for each player
#     for player in player_team_dict:
#         player_team_dict[player] = list(set(player_team_dict[player]))

#     return player_team_dict

# # Create the player-team mapping
# player_team_mapping = create_player_team_mapping(data)

# # Save to JSON file
# with open('player_team_mapping.json', 'w') as json_file:
#     json.dump(player_team_mapping, json_file, indent=4)

# print("Player-team mapping has been saved to player_team_mapping.json")

Player-team mapping has been saved to player_team_mapping.json

In [216]:
# import pandas as pd
# import json

# # Define the list of all teams
# all_teams = [
#     'Mumbai Indians', 'Kolkata Knight Riders',
#     'Rajasthan Royals', 'Chennai Super Kings',
#     'Sunrisers Hyderabad', 'Delhi Capitals',
#     'Punjab Kings', 'Lucknow Super Giants',
#     'Gujarat Titans', 'Royal Challengers Bengaluru'
# ]

# def create_opposite_player_team_mapping(df, all_teams):
#     # Create an empty dictionary to store player-team mappings
#     player_team_dict = {}

#     # Extract batters and their teams
#     batters = df['batter'].unique()
#     for batter in batters:
#         teams_played = df[df['batter'] == batter]['batting_team'].unique().tolist()
#         teams_not_played = [team for team in all_teams if team not in teams_played]
#         if teams_not_played:
#             player_team_dict[batter] = teams_not_played

#     # Extract bowlers and their teams
#     bowlers = df['bowler'].unique()
#     for bowler in bowlers:
#         teams_played = df[df['bowler'] == bowler]['bowling_team'].unique().tolist()
#         teams_not_played = [team for team in all_teams if team not in teams_played]
#         if teams_not_played:
#             player_team_dict[bowler] = teams_not_played

#     return player_team_dict

# # Create the player-team mapping
# opposite_player_team_mapping = create_opposite_player_team_mapping(data, all_teams)

# # Save to JSON file
# with open('opposite_player_team_mapping.json', 'w') as json_file:
#     json.dump(opposite_player_team_mapping, json_file, indent=4)

# print("Opposite player-team mapping has been saved to opposite_player_team_mapping.json")

Opposite player-team mapping has been saved to opposite_player_team_mapping.json

In [222]:
# import pandas as pd

# # Sample DataFrame
# # data = pd.read_csv('your_data.csv')  # Load your DataFrame

# def create_sorted_runs_dataframe(df):
#     # Group by batter and sum up the total runs scored
#     player_runs = df.groupby('batter')['batsman_runs'].sum().reset_index()

#     # Rename columns for clarity
#     player_runs.columns = ['Player', 'Total Runs']

#     # Sort the DataFrame by Total Runs in descending order
#     sorted_player_runs = player_runs.sort_values(by='Total Runs', ascending=False).reset_index(drop=True)

#     return sorted_player_runs

# # Create the sorted DataFrame
# sorted_runs_df = create_sorted_runs_dataframe(data)

# # Print the sorted DataFrame
# print(sorted_runs_df)

# # Optionally, save to a CSV file
# sorted_runs_df.to_csv('sorted_player_runs.csv', index=False)

           Player  Total Runs
0         V Kohli        8014
1        S Dhawan        6769
2       RG Sharma        6630
3       DA Warner        6567
4        SK Raina        5536
..            ...         ...
668       S Ladda           0
669  S Lamichhane           0
670  Abdur Razzak           0
671   SS Cottrell           0
672       KM Asif           0

[673 rows x 2 columns]

In [21]:
# sorted_runs_df.head(10)

NameError: name 'sorted_runs_df' is not defined

In [221]:
# data.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [22]:
players = pd.read_csv('dataset/players.csv')

In [23]:
players

           Player  Total Runs
0         V Kohli        8014
1        S Dhawan        6769
2       RG Sharma        6630
3       DA Warner        6567
4        SK Raina        5536
..            ...         ...
727  S Lamichhane           0
728      JL Denly           0
729     RA Shaikh           0
730   C Ganapathy           0
731       RR Bose           0

[732 rows x 2 columns]

In [24]:
import pandas as pd

# Sample DataFrame
# data = pd.read_csv('your_data.csv')  # Load your DataFrame

def create_sorted_runs_dataframe(df):
    # Identify unique players who have batted
    batters = df['batter'].unique()
    
    # Identify unique players who have bowled
    bowlers = df['bowler'].unique()
    
    # Combine batters and bowlers to get a list of all unique players
    all_players = set(batters).union(set(bowlers))
    
    # Initialize a dictionary to store total runs for each player
    player_runs = {player: 0 for player in all_players}
    
    # Calculate total runs for batters
    batter_runs = df.groupby('batter')['batsman_runs'].sum().to_dict()
    
    # Update the dictionary with total runs for batters
    for player in batter_runs:
        player_runs[player] = batter_runs[player]
    
    # Convert the dictionary to a DataFrame
    player_runs_df = pd.DataFrame(list(player_runs.items()), columns=['Player', 'Total Runs'])
    
    # Sort the DataFrame by Total Runs in descending order
    sorted_player_runs = player_runs_df.sort_values(by='Total Runs', ascending=False).reset_index(drop=True)
    
    return sorted_player_runs

# Create the sorted DataFrame
sorted_runs_df = create_sorted_runs_dataframe(data)

# Print the sorted DataFrame
print(sorted_runs_df)

# Optionally, save to a CSV file
sorted_runs_df.to_csv('sorted_player_runs.csv', index=False)

            Player  Total Runs
0          V Kohli        8014
1         S Dhawan        6769
2        RG Sharma        6630
3        DA Warner        6567
4         SK Raina        5536
..             ...         ...
727    Akash Singh           0
728    RP Meredith           0
729  Y Prithvi Raj           0
730     Yash Dayal           0
731        KM Asif           0

[732 rows x 2 columns]

In [229]:
# Example usage
player_stats = calculate_batter_statistics(data, 'V Kohli', 'Kolkata Knight Riders')
print(player_stats)

{'Total Runs Scored': 962, 'Boundary Percentage': 52.390852390852395, 'Centuries': 1, 'Half-Centuries': 6, 'Matches Played': 31, 'Balls Faced': 736}

In [25]:
data

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [28]:
# Group by 'batter' and sum the 'batsman_runs'
batter_runs = data.groupby('batter')['batsman_runs'].sum().reset_index()

# Rename the column for better understanding
batter_runs = batter_runs.rename(columns={'batsman_runs': 'Total_Runs'})

# Sort the DataFrame by 'Total_Runs' in descending order
batter_runs_sorted = batter_runs.sort_values(by='Total_Runs', ascending=False)

In [30]:
batter_runs_sorted.to_csv('dataset/batters.csv')

In [32]:
# A wicket is indicated by 'is_wicket' being 1
bowler_wickets = data[data['is_wicket'] == 1].groupby('bowler').size().reset_index(name='Total_Wickets')

# Sort the DataFrame by 'Total_Wickets' in descending order
bowler_wickets_sorted = bowler_wickets.sort_values(by='Total_Wickets', ascending=False)

In [35]:
bowler_wickets_sorted.to_csv('bowlers.csv', index=False)

In [92]:
data

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [117]:
def calculate_bowler_statistics(df, bowler, opponent_team):
    # Filter the DataFrame for the specific bowler and opponent team
    filtered_df = df[(df['bowler'] == bowler) & (df['batting_team'] == opponent_team)]

    # Calculate total wickets taken
    total_wickets = filtered_df['is_wicket'].sum()

    # Calculate total runs conceded
    total_runs_conceded = filtered_df['total_runs'].sum()

    # Calculate total overs bowled (each unique over)
    total_overs_bowled = filtered_df.groupby(['match_id', 'over']).ngroup().nunique()

    # Calculate average runs per over (Economy Rate)
    economy_rate = (total_runs_conceded / total_overs_bowled) if total_overs_bowled > 0 else 0

    # Calculate total maidens (overs where 0 runs were conceded)
    maiden_overs = filtered_df.groupby(['match_id', 'over']).apply(lambda x: x['total_runs'].sum() == 0).sum()

    # Calculate five-wicket hauls (bowler takes 5 or more wickets in a match)
    five_wicket_hauls = filtered_df.groupby('match_id')['is_wicket'].sum().apply(lambda x: x >= 5).sum()

    return {
        'Total Wickets': total_wickets,
        'Total Runs Conceded': total_runs_conceded,
        'Economy Rate': f"{economy_rate:.2f}",
        'Total Overs Bowled': total_overs_bowled,
        'Maidens': maiden_overs,
        'Five-Wicket Hauls': five_wicket_hauls
    }

In [118]:
# Test the function with sample data
bowler = 'YS Chahal'
opponent_team = 'Kolkata Knight Riders'
stats = calculate_bowler_statistics(data, bowler, opponent_team)

In [119]:
stats

{'Total Wickets': 29,
 'Total Runs Conceded': 670,
 'Economy Rate': '8.17',
 'Total Overs Bowled': 82,
 'Maidens': 0,
 'Five-Wicket Hauls': 1}

In [120]:
import pandas as pd
import json

# List of valid teams
valid_teams = [
    'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
    'Chennai Super Kings', 'Sunrisers Hyderabad', 'Delhi Capitals',
    'Punjab Kings', 'Lucknow Super Giants', 'Gujarat Titans',
    'Royal Challengers Bengaluru'
]

# Function to get the list of teams each player (both batter and bowler) played against
def get_teams_played_by_each_player(df):
    # Filter the DataFrame to include only valid teams
    filtered_df = df[df['bowling_team'].isin(valid_teams)]
    
    # Get the teams played against by batters
    batter_teams = filtered_df.groupby('batter')['bowling_team'].unique().apply(list).to_dict()
    
    # Get the teams played against by bowlers
    bowler_teams = filtered_df.groupby('bowler')['batting_team'].unique().apply(list).to_dict()
    
    # Merge the results for batters and bowlers into a single dictionary
    players_teams = {}
    
    # Add batters to the dictionary
    for player, teams in batter_teams.items():
        if player not in players_teams:
            players_teams[player] = teams
    
    # Add bowlers to the dictionary or update if already exists
    for player, teams in bowler_teams.items():
        if player in players_teams:
            # Merge teams for both batting and bowling (remove duplicates)
            players_teams[player] = list(set(players_teams[player] + teams))
        else:
            players_teams[player] = teams
    
    # Return the final dictionary
    return players_teams

# Example DataFrame format, replace 'data' with your actual dataset
# df = pd.read_csv('path_to_your_file.csv')

# Call the function to get the teams played by each player
players_teams = get_teams_played_by_each_player(data)

# Save the result as a JSON file
with open('players_teams_played_against.json', 'w') as json_file:
    json.dump(players_teams, json_file, indent=4)

print("JSON file has been successfully created!")

JSON file has been successfully created!