In [1]:
import pandas as pd

In [38]:
batters = pd.read_csv('predict/stream_X_test_batsmen_24.csv')

In [5]:
bowlers = pd.read_csv('predict/streamlit_x_test_bowler_24.csv')

In [39]:
batters['batter'].unique()

array(['A Badoni', 'A Manohar', 'A Nortje', 'AD Russell', 'AJ Turner',
       'AK Markram', 'AM Rahane', 'AR Patel', 'AS Roy', 'Abdul Samad',
       'Abhishek Sharma', 'Abishek Porel', 'Akash Deep',
       'Anmolpreet Singh', 'Anuj Rawat', 'Arshad Khan', 'Arshdeep Singh',
       'Atharva Taide', 'Avesh Khan', 'B Kumar', 'B Sai Sudharsan',
       'C Green', 'D Brevis', 'D Padikkal', 'DA Miller', 'DA Warner',
       'DJ Hooda', 'DJ Mitchell', 'Dhruv Jurel', 'F du Plessis',
       'GJ Maxwell', 'H Klaasen', 'HH Pandya', 'HV Patel',
       'Harpreet Brar', 'Harpreet Singh', 'I Sharma', 'Ishan Kishan',
       'JA Richardson', 'JC Buttler', 'JD Unadkat', 'JJ Bumrah',
       'JM Bairstow', 'JM Sharma', 'K Rabada', 'KD Karthik', 'KH Pandya',
       'KL Rahul', 'KS Williamson', 'KV Sharma', 'Kuldeep Yadav',
       'LH Ferguson', 'LS Livingstone', 'Lalit Yadav', 'M Jansen',
       'M Shahrukh Khan', 'MA Agarwal', 'MA Starc', 'MJ Santner',
       'MK Lomror', 'MK Pandey', 'MM Ali', 'MM Sharma', 'MP Stoinis',
       'MR Marsh', 'MS Dhoni', 'MS Wade', 'Mohammad Nabi',
       'Mohammed Siraj', 'Mohsin Khan', 'Mukesh Kumar', 'N Pooran',
       'N Rana', 'N Wadhera', 'Naveen-ul-Haq', 'Noor Ahmad',
       'P Simran Singh', 'PD Salt', 'PJ Cummins', 'PP Chawla', 'PP Shaw',
       'Q de Kock', 'R Ashwin', 'R Parag', 'R Powell', 'R Shepherd',
       'R Tewatia', 'RA Jadeja', 'RA Tripathi', 'RD Chahar', 'RD Gaikwad',
       'RG Sharma', 'RK Bhui', 'RK Singh', 'RM Patidar', 'RR Pant',
       'RR Rossouw', 'Rahmanullah Gurbaz', 'Ramandeep Singh',
       'Rashid Khan', 'Rasikh Salam', 'Ravi Bishnoi', 'S Dhawan',
       'S Dube', 'SA Yadav', 'SM Curran', 'SN Thakur', 'SO Hetmyer',
       'SP Narine', 'SS Iyer', 'SS Prabhudessai', 'SV Samson',
       'Sanvir Singh', 'Shahbaz Ahmed', 'Shashank Singh', 'Shubman Gill',
       'Sikandar Raza', 'Swapnil Singh', 'T Stubbs', 'TA Boult',
       'TH David', 'TM Head', 'TU Deshpande', 'Tilak Varma', 'UT Yadav',
       'V Kohli', 'V Shankar', 'VG Arora', 'VR Iyer', 'WP Saha',
       'Washington Sundar', 'YBK Jaiswal', 'Yudhvir Singh'], dtype=object)

In [40]:
bowlers[
    (bowlers['bowler'] == 'DJ Bravo') &
    (bowlers['batting_team'] == 'Chennai Super Kings')
]

Empty DataFrame
Columns: [Unnamed: 0, date, match_id, bowler, venue, city, bowling_team, winner, batting_team, wickets, runs_conceded, balls_bowled, economy_rate, maidens, extras, current_form_wickets, current_form_economy_rate, current_form_maidens, current_form_runs_conceded, current_form_balls_bowled, career_avg_wickets, career_avg_economy_rate, career_avg_maidens, career_avg_runs_conceded, career_avg_balls_bowled, is_win, opponent_strength, maiden_percentage, avg_maiden_percentage, is_home_match]
Index: []

[0 rows x 30 columns]

In [41]:
batters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                919 non-null    int64
 1   date                      919 non-null    object
 2   match_id                  919 non-null    int64
 3   batter                    919 non-null    object
 4   venue                     919 non-null    object
 5   city                      919 non-null    object
 6   batting_team              919 non-null    object
 7   winner                    919 non-null    object
 8   bowling_team              919 non-null    object
 9   total_runs                919 non-null    int64
 10  fours                     919 non-null    int64
 11  sixes                     919 non-null    int64
 12  strike_rate               919 non-null    float64
 13  balls_faced               919 non-null    int64
 14  half_century              919 non-null    int64
 15  century                   919 non-null    int64
 16  current_form_total_runs   919 non-null    float64
 17  current_form_fours        919 non-null    float64
 18  current_form_sixes        919 non-null    float64
 19  current_form_strike_rate  919 non-null    float64
 20  current_form_balls_faced  919 non-null    float64
 21  career_avg_total_runs     919 non-null    float64
 22  career_avg_fours          919 non-null    float64
 23  career_avg_sixes          919 non-null    float64
 24  career_avg_strike_rate    919 non-null    float64
 25  career_avg_balls_faced    919 non-null    float64
 26  half_century_prob         919 non-null    float64
 27  century_prob              919 non-null    float64
 28  is_win                    919 non-null    bool
 29  opponent_strength         919 non-null    float64
 30  boundary_percentage       919 non-null    float64
 31  avg_boundary_percentage   919 non-null    float64
 32  is_home_match             919 non-null    bool
dtypes: bool(2), float64(16), int64(8), object(7)
memory usage: 224.5+ KB

In [42]:
# Group by 'batter' and sum the 'batsman_runs'
batter_runs = batters.groupby('batter')['total_runs'].sum().reset_index()

# Rename the column for better understanding
batter_runs = batter_runs.rename(columns={'total_runs': 'Total_Runs'})

# Sort the DataFrame by 'Total_Runs' in descending order
batter_runs_sorted = batter_runs.sort_values(by='Total_Runs', ascending=False)

In [43]:
batter_runs_sorted

                batter  Total_Runs
125            V Kohli         741
90          RD Gaikwad         583
83             R Parag         573
121            TM Head         567
111          SV Samson         531
..                 ...         ...
51         LH Ferguson           1
127           VG Arora           1
92             RK Bhui           0
122       TU Deshpande           0
130  Washington Sundar           0

[133 rows x 2 columns]

In [44]:
batter_runs_sorted.to_csv('dataset/batters.csv')

In [26]:
bowlers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  777 non-null    int64
 1   date                        777 non-null    object
 2   match_id                    777 non-null    int64
 3   bowler                      777 non-null    object
 4   venue                       777 non-null    object
 5   city                        777 non-null    object
 6   bowling_team                777 non-null    object
 7   winner                      777 non-null    object
 8   batting_team                777 non-null    object
 9   wickets                     777 non-null    int64
 10  runs_conceded               777 non-null    int64
 11  balls_bowled                777 non-null    int64
 12  economy_rate                777 non-null    float64
 13  maidens                     777 non-null    int64
 14  extras                      777 non-null    float64
 15  current_form_wickets        777 non-null    float64
 16  current_form_economy_rate   777 non-null    float64
 17  current_form_maidens        777 non-null    float64
 18  current_form_runs_conceded  777 non-null    float64
 19  current_form_balls_bowled   777 non-null    float64
 20  career_avg_wickets          777 non-null    float64
 21  career_avg_economy_rate     777 non-null    float64
 22  career_avg_maidens          777 non-null    float64
 23  career_avg_runs_conceded    777 non-null    float64
 24  career_avg_balls_bowled     777 non-null    float64
 25  is_win                      777 non-null    bool
 26  opponent_strength           777 non-null    float64
 27  maiden_percentage           777 non-null    float64
 28  avg_maiden_percentage       777 non-null    float64
 29  is_home_match               777 non-null    bool
dtypes: bool(2), float64(15), int64(6), object(7)
memory usage: 171.6+ KB

In [29]:
# Group by 'batter' and sum the 'batsman_runs'
bowler_wickets = bowlers.groupby('bowler')['wickets'].sum().reset_index()

# Rename the column for better understanding
bowler_wickets = bowler_wickets.rename(columns={'wickets': 'Total_Wickets'})

# Sort the DataFrame by 'Total_Runs' in descending order
bowler_wickets_sorted = bowler_wickets.sort_values(by='Total_Wickets', ascending=False)

In [36]:
bowler_wickets_sorted.head(25)

                bowler  Total_Wickets
25            HV Patel             30
61        Mukesh Kumar             22
14          Avesh Khan             22
32           JJ Bumrah             21
17            CV Varun             21
27        Harshit Rana             20
48            MA Starc             20
95         T Natarajan             20
13      Arshdeep Singh             20
3           AD Russell             19
107          YS Chahal             19
99        TU Deshpande             18
67          PJ Cummins             18
87           SP Narine             18
36            KK Ahmed             17
85           SM Curran             16
40       Kuldeep Yadav             16
97            TA Boult             16
53           MM Sharma             16
108         Yash Dayal             16
88      Sandeep Sharma             15
58      Mohammed Siraj             15
64       Naveen-ul-Haq             15
62   Mustafizur Rahman             14
24           HH Pandya             13

In [32]:
bowlers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  777 non-null    int64
 1   date                        777 non-null    object
 2   match_id                    777 non-null    int64
 3   bowler                      777 non-null    object
 4   venue                       777 non-null    object
 5   city                        777 non-null    object
 6   bowling_team                777 non-null    object
 7   winner                      777 non-null    object
 8   batting_team                777 non-null    object
 9   wickets                     777 non-null    int64
 10  runs_conceded               777 non-null    int64
 11  balls_bowled                777 non-null    int64
 12  economy_rate                777 non-null    float64
 13  maidens                     777 non-null    int64
 14  extras                      777 non-null    float64
 15  current_form_wickets        777 non-null    float64
 16  current_form_economy_rate   777 non-null    float64
 17  current_form_maidens        777 non-null    float64
 18  current_form_runs_conceded  777 non-null    float64
 19  current_form_balls_bowled   777 non-null    float64
 20  career_avg_wickets          777 non-null    float64
 21  career_avg_economy_rate     777 non-null    float64
 22  career_avg_maidens          777 non-null    float64
 23  career_avg_runs_conceded    777 non-null    float64
 24  career_avg_balls_bowled     777 non-null    float64
 25  is_win                      777 non-null    bool
 26  opponent_strength           777 non-null    float64
 27  maiden_percentage           777 non-null    float64
 28  avg_maiden_percentage       777 non-null    float64
 29  is_home_match               777 non-null    bool
dtypes: bool(2), float64(15), int64(6), object(7)
memory usage: 171.6+ KB

In [34]:
bowlers[ bowlers['bowler'] == 'Mukesh Kumar']

,Unnamed: 0,date,match_id,bowler,venue,city,bowling_team,winner,batting_team,wickets,...,career_avg_wickets,career_avg_economy_rate,career_avg_maidens,career_avg_runs_conceded,career_avg_balls_bowled,is_win,opponent_strength,maiden_percentage,avg_maiden_percentage,is_home_match
416,12188,2024-03-28,1422127,Mukesh Kumar,"Sawai Mansingh Stadium, Jaipur",Jaipur,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,1,...,0.900000,9.916940,0.600000,32.800000,19.700000,False,0.514887,4.761905,2.670940,False
417,12237,2024-03-31,1422131,Mukesh Kumar,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Visakhapatnam,Delhi Capitals,Delhi Capitals,Chennai Super Kings,3,...,0.909091,10.084491,0.545455,34.272727,20.181818,True,0.584636,0.000000,2.976190,False
418,12394,2024-04-12,1426264,Mukesh Kumar,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Delhi Capitals,Delhi Capitals,Lucknow Super Giants,1,...,1.083333,9.796748,0.500000,33.166667,20.083333,True,0.564522,0.000000,2.976190,False
419,12461,2024-04-17,1426270,Mukesh Kumar,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,Delhi Capitals,Delhi Capitals,Gujarat Titans,3,...,1.076923,9.800075,0.461538,33.769231,20.461538,True,0.629273,16.666667,1.587302,False
420,12498,2024-04-20,1426273,Mukesh Kumar,"Arun Jaitley Stadium, Delhi",Delhi,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,2,...,1.214286,9.457213,0.500000,32.428571,20.285714,False,0.480854,0.000000,5.555556,True
421,12560,2024-04-24,1426278,Mukesh Kumar,"Arun Jaitley Stadium, Delhi",Delhi,Delhi Capitals,Delhi Capitals,Gujarat Titans,1,...,1.266667,9.776732,0.466667,34.066667,20.533333,True,0.629273,16.666667,5.555556,True
422,12601,2024-04-27,1426281,Mukesh Kumar,"Arun Jaitley Stadium, Delhi",Delhi,Delhi Capitals,Delhi Capitals,Mumbai Indians,4,...,1.250000,9.840686,0.500000,34.750000,20.812500,True,0.550173,0.000000,11.111111,True
423,12752,2024-05-07,1426294,Mukesh Kumar,"Arun Jaitley Stadium, Delhi",Delhi,Delhi Capitals,Delhi Capitals,Rajasthan Royals,2,...,1.411765,10.144175,0.529412,36.235294,21.000000,True,0.514887,0.000000,5.555556,True
424,12825,2024-05-12,1426300,Mukesh Kumar,"M Chinnaswamy Stadium, Bengaluru",Bengaluru,Delhi Capitals,Royal Challengers Bengaluru,Royal Challengers Bengaluru,3,...,1.444444,10.177101,0.500000,36.111111,20.888889,False,0.484141,0.000000,5.555556,False
425,12839,2024-05-14,1426302,Mukesh Kumar,"Arun Jaitley Stadium, Delhi",Delhi,Delhi Capitals,Delhi Capitals,Lucknow Super Giants,2,...,1.526316,10.062517,0.526316,35.473684,20.736842,True,0.564522,0.000000,0.000000,True

In [37]:
bowler_wickets_sorted.to_csv('bowlers.csv', index=False)